<body id='body'>
<!--<%= stylesheet_link_tag "style" %>-->
<p><b>Create your Employee Data</b><br></p>
<%= form_tag('/employee/create') do %>
<button id='b1' name="button" type="create">Create</button><br><br>
<% end %>
<p><b>Search for an Employee Data</b><br></p>
<%= form_tag('/employee/search') do %>
<button id='b2' name="button" type="search">Search</button>
<% end %>

</body>

